{% extends "base.html" %}
{% block start %}
    <div class="container mt-5">
        <form class="col-lg-6 col-md-8 col-sm-10 mx-auto card p-4 shadow bg-light" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <h2>Register</h2>
            {% if messages %}
            <div class="alert alert-primary" role="alert">
                {% for message in messages %}
               {{ message}}
                {% endfor%}
              </div>

{% endif %}
            <div class="mb-3">
                <label for="exampleInputEmail1">First Name</label>
                <input type="text" name='first_name' class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter First Name">
                <small id="emailHelp" class="form-text text-muted">We'll never share your info with anyone else.</small>
              </div>
              <div class="mb-3">
                <label for="exampleInputEmail1">Last Name</label>
                <input type="text" name='last_name' class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Last Name">
                <small id="emailHelp" class="form-text text-muted">We'll never share your info with anyone else.</small>
              </div>
            <div class="mb-3">
                <label for="exampleInputEmail1">User Name</label>
                <input type="text" name='Username' class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Username">
                <small id="emailHelp" class="form-text text-muted">We'll never share your info with anyone else.</small>
              </div>
              <div class="mb-3">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" name='password' class="form-control" id="exampleInputPassword1" placeholder="Password">
              </div>
              <p>Already have account <a href="/login_page/">Login</a></p>
              <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
{% endblock %}
